<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <script src="https://aframe.io/releases/1.0.4/aframe.min.js"></script>
        <script src="https://unpkg.com/aframe-look-at-component@0.8.0/dist/aframe-look-at-component.min.js"></script>
        <script src="https://raw.githack.com/AR-js-org/AR.js/master/aframe/build/aframe-ar-nft.js"></script>
        <script src="https://raw.githack.com/donmccurdy/aframe-extras/master/dist/aframe-extras.loaders.min.js"></script>
        <!-- <script src="./script.js"></script> -->
     <link rel="stylesheet" href="/stylesheets/style.css">
     <script src="/javascripts/locations.js"></script>
    </head>
    <body>
  {{{ body }}}
   <div class="menu-wrapper">
    <div id="menubar">
      <div>Own_latitude: <span id="latitude"></span>&deg;</br></div>
      <div>Own_longitude: <span id="longitude"></span>&deg;</div>
    </div>


    <div id="myBottombar" class="bottombar">
      <button id="btnToggleMap" onclick="toggleMap()">Map</button>
      <div id="mymap"></div>
    </div>
    <script>
    //Toggle Buttons für Map and Menu
      let isMap = false;
      let isSet = false;

      function toggleMap() {
        let myBottombar = document.getElementById("myBottombar");
        if (!isMap) {
          myBottombar.style.height = "200px";
          isMap = true;
        }
        else {
          myBottombar.style.height = "0";
          isMap = false;
        }
      }

      function toogleSettingsMenu() {
        let settings = document.getElementById("settingsMenuButtons");
        if (!isSet) {
          settings.style.top = "0px";
          isSet = true;
        }
        else {
          settings.style.top = "-100px";
          isSet = false;
        }
      }

      function toogleSettingsBtn() {
        console.log("settings");
      }
      function toogleQuitBtn() {
        console.log("Quit");

      }
      function toogleMenuBtn() {
        console.log("Menu");
      }
</script>
    </body>
    </html>