   <form method="POST" action="login" >
        <div style="text-align: center; margin-top: 30px;">
            <p>
                <ons-input id="email" modifier="underbar" placeholder="E-Mail" float required name="email"></ons-input>
            </p>
            <p>
                <ons-input id="password" modifier="underbar" type="password" placeholder="Password" name="password" float required></ons-input>
            </p>
            <p style="margin-top: 30px;">
                <button class= "btn" type="submit">Sign in</button>
                <button class= "btn" onclick="history.back()">Cancel</button>
            </p>
        </div>
    </form>






user@ar-nav.com